<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%highlight{[%d{HH:mm:ss}] [%t/%level]: %msg{nolookups}%n%xEx}{WARN=BRIGHT YELLOW,INFO=RESET,DEBUG=BRIGHT CYAN,TRACE=BRIGHT MAGENTA}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger level="${sys:discordmusic.logging.jda.level:-info}" name="net.dv8tion.jda"/>
        <Logger level="${sys:discordmusic.logging.lava.level:-warn}" name="com.sedmelluq.lava"/>
        <Logger level="${sys:discordmusic.logging.lavaplayer.level:-info}" name="com.sedmelluq.discord.lavaplayer"/>
        <Root level="ALL">
            <AppenderRef ref="Console" level="${sys:discordmusic.logging.console.level:-info}"/>
        </Root>
    </Loggers>
</Configuration>